.allCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 120px;
    padding: 16px;
    border-radius: 5px;
    margin-left: 10px !important;
    margin-bottom: 50px;
}

.img {
    height: 2rem;
    width: 150px;
    margin-top: -16px;
    margin-left: -16px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #d9d9d9;
}